---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign presentations = site.talks | sort: 'display_order' %}

<h2>Oral Presentations</h2>
{% for post in presentations %}
  {% if post.type == 'Oral Presentation' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Poster Presentations</h2>
{% for post in presentations %}
  {% if post.type == 'Poster Presentation' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
